<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
  <nav>
    <h2 class="grayed-heading center"> <%= I18n.t("Signinup") %></h2>
    <ul class="omniauth-button-group">
      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'button facebook' do %>
          <%= icon('facebook-official') %>
          <%= I18n.t("Facebookin") %>
        <% end %>
      </li>

      <li class="omniauth-button google">
        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'button google' do %>
          <%= icon('google') %>
          <%= I18n.t("Googlein") %>
        <% end %>
      </li>

      <li class="omniauth-button twitter">
        <%= link_to user_omniauth_authorize_path(:twitter), class: 'button twitter' do %>
          <%= icon('twitter') %>
          <%= I18n.t("Twitterin") %>
        <% end %>
      </li>

      <li>
        <%= link_to I18n.t("Signinupemail"), new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </nav>
</div>
